@font-face {
	font-family: 'yesevaone';
	src: url("assets/fonts/yesevaone/YesevaOne-Regular.ttf");
}

@font-face {
	font-family: 'crimson';
	src: url("assets/fonts/crimsontext/CrimsonText-Regular.ttf");
}

body {
	padding: 0;
	margin: 0;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'crimson';
}

main{
	width: 80%;
	position: relative;
	flex: 1 0 auto;
	margin: 10%;
	margin-bottom: 50px;
	margin-top: 50px;
}

ul {
	padding: 0;
	margin: 0;
}

div ul {
	padding-left: 25px;
}

nav li {
	display: inline-block;
}

header {
	position: relative;
    width: 100%;
    top: 0;
    background: #0F5248;
    height:60px;
    border-bottom: 3px solid #aaa;
}

#logo {
	height: 50px;
	padding: 5px;
}

.headerlinks {
	position: absolute;
	top: 20px;
	right: 15px;
	background: #0F5248;
}

.headerlinks > li {
	padding-right: 10px;
}

.headerlinks > li > a {
	font-family: sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

footer{
	position: relative;
	width: 100%;
	height: 31.6667px;
	background: #EAEAEA;
	padding-top: 18.3333px;
}

footer > nav {
	display: inline-block;
}

footer > small{ 
	margin-left: 20px;
	font-family: sans-serif;
}

.footerlinks > li > a {
	font-family: sans-serif;
	color: #BBB;
	font-size: smaller;
	margin-left: 20px;
}

.footerlinks {
	background: #EAEAEA;
}

.title {
	font-family: 'yesevaone';
	font-size: 1.8em;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

p:nth-child(2) {
	font-size: 1.2em;
}

#map {
	float: right;
	padding: 1em;
	margin: 1em;
	padding-top:0;
	margin-top:0;
	border-left: 1px solid #eee;
}