.topbar {
	background-color: #eee;
	padding: 1em;
	margin-top: 1em;
}

.checkout {
	margin-bottom: 12px;
	font-size: 12px;
	display: inline;
	float: right;
}

.checkout > span {
	margin: 0 auto;
	margin-left: 10px;
}

#cart {
	width: 20px;
	display: inline;
	text-align: right;
}

.products {
	width: 100%;
	margin: 1em;
	margin-top: 1.5em;
}

.row {
	height: 50%;
	width: 100%;
	float: left;
}

.item{ 
	padding: 1em;
	margin: 1.51667%;
	float: left;
	width: 30%;
	background-color: #eee;
	box-sizing: border-box;
}

.item > img {
	width: 100%;
}

.buy {
	margin-top: 8px;
}

.price{
	font-size: .7em;
}

.purchase{
	float: right;
	display: inline;
	font-size: .7em;
	margin-top: 5px;
}