@font-face {
	font-family: 'yesevaone';
	src: url("assets/fonts/yesevaone/YesevaOne-Regular.ttf");
}

@font-face {
	font-family: 'crimson';
	src: url("assets/fonts/crimsontext/CrimsonText-Regular.ttf");
}

body {
	padding: 0;
	margin: 0;
    min-height: 100vh;
	font-family: 'crimson';
}

main{
	width: 80%;
	position: relative;
	margin: 10%;
	margin-bottom: 50px;
	margin-top: 50px;
}

ul {
	padding: 0;
	margin: 0;
}

div ul {
	padding-left: 25px;
}

nav li {
	display: inline-block;
}

header {
	position: relative;
    width: 100%;
    top: 0;
    background: #0F5248;
    height:60px;
    border-bottom: 3px solid #aaa;
}

#logo {
	height: 50px;
	padding: 5px;
}

.headerlinks {
	position: absolute;
	top: 20px;
	right: 15px;
	background: #0F5248;
}

.headerlinks > li {
	padding-right: 10px;
}

.headerlinks > li > a {
	font-family: sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

footer{
	float: left;
	margin-top: 3em;
	width: 100%;
	height: 31.6667px;
	background: #EAEAEA;
	padding-top: 18.3333px;
}

footer > nav {
	display: inline-block;
}

footer > small{ 
	margin-left: 20px;
	font-family: sans-serif;
}

.footerlinks > li > a {
	font-family: sans-serif;
	color: #BBB;
	font-size: smaller;
	margin-left: 20px;
}

.footerlinks {
	background: #EAEAEA;
}

.title {
	font-family: 'yesevaone';
	font-size: 1.8em;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

/* Home */

p {
	padding-top: 5px;
	padding-bottom: 5px;
}

div { 
	padding: 0;
	margin: 0;
}

h2 {
	padding: 0;
	margin: 0;
}

div h3 {
	padding-bottom: 5px;
	margin: 0;
}

aside {
	float: left;
	width: 30%;
	margin-top: 3em;
	padding-left: 5%;
	box-sizing: border-box;
}

blockquote {
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	color: #999;
}

section {
	float: left;
	width: 60%;
	padding-top: 15px;
	padding-right: 75px;
	border-right-style: groove;
	border-right-width: 1px;
	margin-top: 3em;
	box-sizing: border-box;
}

.tri {
	width: 33.3333%;
	float: left;
	background-color: #D5D5D5;
}

.tri div {
	padding: 20px;
}
.tri h3 {
	padding-bottom: 20px;
}

.side {
	padding-right: 200px;
}

.banner {
	width: 100%;
	height: 250px;
	float: left;
	background: url("assets/images/hero.jpg");
	background-size: cover;
	background-position: 0px 50%;
}

.layer {
    background-color: rgba(15, 82, 72, 0.4);
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
}

.bannertext {
	position: relative;
	left: 50px;
	top: 70px;
	font-family: 'yesevaone';
}

.bannertext > h1, 
.bannertext > h2 {
	color: #fff;
	text-shadow: 2px 2px #000;
}

.bannertext > h3 {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-family: 'crimson';
}


/* About */

.story{
	border: none;
	width: 100%;
	margin: 0;
	padding-top: 2em;
}

.story > p:nth-child(3) {
	font-size: 1.1em;
}

#map {
	float: right;
	padding: 1em;
	margin: 1em;
	padding-top:0;
	margin-top:0;
	border-left: 1px solid #eee;
}

/* Shop */

.topbar {
	background-color: #eee;
	margin-top: 1em;
	height: 50px;
}

.topbar > span {
	line-height: 50px;
	margin-left: 1em;
}

.checkout {
	font-size: 12px;
	float: right;
	height: 50px;
	line-height: 50px;
}

.checkout > span {
	float: right;
	margin-left: 10px;
	line-height: 50px;
	margin-right: 1em;
}

#cart {
	height: 25px;
	vertical-align: middle;
	/*margin-top: 12.5px;*/
}

.products {
	width: 100%;
	margin: 1em;
	margin-top: 1.5em;
}

.row {
	height: 50%;
	width: 100%;
	float: left;
}

.item{ 
	padding: 1em;
	margin: 1.51667%;
	float: left;
	width: 30%;
	background-color: #eee;
	box-sizing: border-box;
}

.item > img {
	width: 100%;
}

.buy {
	margin-top: 8px;
	line-height: 15px;
}

.price{
	font-size: .7em;
}

.purchase{
	float: right;
	display: inline;
	font-size: .7em;
}

/* contact */

.contact {
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.form {
	font-family: sans-serif;
	font-size: .9em;
}

input[type="text"],
input[type="email"]{
	width:60%;
	height:2em;
}

input[type="checkbox"]{
	margin:0;
	padding:0;
	margin-left: 5px;
	position: relative;
	display: inline;
}

form > .text {
	float: left;
	padding: 1em;
	width: 45%;
}

.textarea {
	float: left;
	padding: 1em;
	width: 100%;
}

.checkbox{
	float: left;
	width:75%;
	padding: 1em;
}

label{
	display: inline;
	width:50%;
}

textarea {
	width: 100%;
	height: 100px;
}

form > div > div {
	margin-top:1em;
}

